.project {
    max-width: 1000px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    border: 0.5px solid #463f3f;
    border-radius: 10px;
    background: #191616;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.project::after, .project::before {
    --angle: 245.5deg;
    content: '';
    position: absolute;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    background-image: conic-gradient(from var(--angle), transparent 90%, rgb(17, 0, 255), rgb(192, 28, 96));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;
    animation: 10s spin linear infinite;
}

.project::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@media (max-width: 768px) {
    .listProject {
        padding: 20px;
    }
  
    .project-image {
      transition: all 0.3s ease;
    }
}